<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="pinnoto-icon-red.png" type="image/x-icon">
    <title>Nuem - 6P TDM, Normal Earth</title>
    <meta name="description" content="Free and open source multiplayer strategy game where you must conquer the world">
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<h1>Nuem</h1>
			<div class="menu">
				<a href="/create_game">Host Game</a>
				<a href="/join_game">Join Game</a>
				<a href="/scenarios">Scenarios</a>
				<a href="https://nuem.pinnoto.org/community">Community</a>
				<a href="/settings">acoolstraw</a>
			</div>
		</div>
		<div class="content">
			<div class="bar-left">
				<div class="actions">
					<div id="inspect"></div>
					<div id="transfer"></div>
					<div id="reinforce"></div>
				</div>
			</div>
			<div class="middle-box">
				<div class="game-box">

				</div>
				<div class="bar-bottom">
				
				</div>
			</div>
			<div class="bar-right">
			
			</div>
		</div>
	</div>
</body>
</html>

