<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="pinnoto-icon-red.png" type="image/x-icon">
    <title>Nuem - Host Game</title>
    <meta name="description" content="Free and open source multiplayer strategy game where you must conquer the world">
	<script src="https://cdn.jsdelivr.net/npm/reefjs@10/dist/reef.min.js"></script>
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<h1>Nuem</h1>
			<div class="menu">
				<a href="/create_game">Host Game</a>
				<a href="/join_game">Join Game</a>
				<a href="/scenarios">Scenarios</a>
				<a href="https://nuem.pinnoto.org/community">Community</a>
				<a href="/settings">acoolstraw</a>
			</div>
		</div>
		<div class="content">
			<div class="hero"></div>
            <h1>Shall we play a game?</h1>
            <a href="#" class="btn">Host</a>
            <p style="text-align:center;">or</p>
            <input type="text" maxlength="8" name="room-code" class="text-input" id="room-code" placeholder="Enter room code">
            <a href="#" class="btn">Join</a>
		</div>
	</div>
</body>
</html>