<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="pinnoto-icon-red.png" type="image/x-icon">
    <title>Nuem - Home</title>
    <meta name="description" content="Free and open source multiplayer strategy game where you must conquer the world">
	<link rel="stylesheet" href="assets/style/style.css">
</head>
<body>
	<div class="main">
		<div class="nav">
			<h1>Nuem</h1>
			<div class="menu">
				<a href="/create_game">Host Game</a>
				<a href="/join_game">Join Game</a>
				<a href="/scenarios">Scenarios</a>
				<a href="https://nuem.pinnoto.org/community">Community</a>
				<a href="/settings">username</a>
			</div>
		</div>
		<div class="content" style="justify-content:center">
			<div class="hero">
                <h1>Shall we play a game?</h1>
                <h2><a href="#" class="btn">Host</a></h2>
                <p style="text-align:center;font-size:18px;margin-top: 35px;">or</p>
                <p class="room-code-styling">><input type="text" maxlength="8" name="room-code" class="code-input" id="room-code" placeholder="Enter room code"></p>
                <h2><a href="#" class="btn">Join</a></h2>
            </div>
		</div>
	</div>
</body>
</html>