<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuem - Sign up</title>
</head>
<body>
    <div class="main">
		<div class="nav">
			<h1>Nuem</h1>
			<div class="menu">
				<a href="/create_game">Host Game</a>
				<a href="/join_game">Join Game</a>
				<a href="/scenarios">Scenarios</a>
				<a href="https://nuem.pinnoto.org/community">Community</a>
				<a href="/settings">username</a>
			</div>
		</div>
        <div class="content">
            <div class="auth-box">
                <div class="login">
                    <p>Username</p>
                    <input type="text" class="text-input">
                    <p>Password</p>
                    <input type="password" class="text-input">
                    <a href="" class="btn">Sign in</a>
                </dev>
            </dev>
        </div>
    </div>
</body>
</html>